html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Manrope', sans-serif;
    background-color: white;
    width: 100%;
}


.before_width_1400px {
    margin: 0 auto;
    width: 1400px;
    background-color:  white;
    height: auto;
    overflow: hidden;
    height: 3868px;
}



.navigation {
    padding-top: 33px;
}

.logo_link {
    display: inline-block;
    margin-left: 125px;
}

.navigation_container_txt {
    display: inline-block;
    padding-left:558.46px;
}

.nav_link_txt {
    text-decoration: none; 
    margin-left: 60px;

    color: #121212;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.54px;
    text-transform: uppercase;

}

.nav_link_txt:first-child {
    margin-left: 0px;
}

.nav_link_txt:hover {
    text-decoration: underline;
    color: #121212;;
    opacity: 0.5;
}






h1 {
    color: #121212;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    padding-top: 68px;
    margin-bottom: 30px;
    letter-spacing: -1.8px;
    margin-right: 319px;
    margin-left: 125px;
}
.hat_textp {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    

}
h2 {
    color: #121212;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 150px;
    letter-spacing: -0.54px;
    text-transform: uppercase;
    margin-left: 125px;
}
.studio_founded {
    color: var(--text, #121212);
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 224px;
    letter-spacing: -1.35px;
    padding-left: 125px;
}

.hat_photo{
    position: relative;
    margin-left: 125px;
    width: 1150px;
    height: 500px;
    background-image: url(../расходники/наивысшеефото\ 1.png);
}
.hat_text{
    position: absolute;
    left: 40px;
    bottom: 40px;
    width: 430px;
    letter-spacing: -0.6px;
}

.hr {
    margin-left: 125px;
    display: block;
    height: 67px;
    width: 255px;
    border-radius: 5px;
    background-color: #AD1818;
    text-decoration: none;
    text-align: center;
    line-height: normal;
}

.hrtxt {
    color: white;
    text-decoration: none;
    letter-spacing: -0.6px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}

.proj-box1_1 {
    margin-left: 125px;
    margin-top: 30px;
 }

.proj-box1_1-img {
    width: 1150px;
    height: 450px;
}

.proj-box1_1-h3 {
    margin-top: 15px;
    padding-bottom: 15px;
    color: #121212;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.9px;
}
.proj-box1_1-href {
    color: var(--accent, #AD1818);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.6px;
    text-decoration: none;
 }

 .proj-box1_2 {
    margin-left: 125px;
    margin-top: 90px;
 }

 .proj-box1_3 {
    margin-left: 125px;
    margin-top: 90px;
 }

 .all_projects {

    margin-left: 125px;
    margin-top: 90px;
    display: block;
    width: 1150px;
    height: 153px;
    text-align: center;
    padding-top: 56px;
    padding-bottom: 56px;
    border-radius: 5px;
    border: 1px solid var(--accent, #AD1818);
    cursor: pointer;
    pointer-events: auto;
}

.all_projects_txt {
    color: var(--accent, #AD1818);
    text-align: center;
    text-decoration: none;
    font-family: Manrope;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.9px;
 }

 .all_projects:hover {
    background-color: #AD1818;
}

.all_projects_txt:hover .all_projects {
    color: white;
}




.blacksection_services{
    width: 100%;
    height: 1844px;
    background-color: #121212;
    
    
}

.blacksection_width_1400px{
    margin: 0 auto;
    width: 1400px;
    height: 1844px;

}

.blacksection_services__txt {
    margin-bottom: 34px;
    padding-top: 151px;
    color: #FFF;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.54px;
    text-transform: uppercase;
}

.services__box2_1__img {
    width: 1150px;
    height: 270px;
    margin-left: 125px;

}

.services__box2_1__p {
    margin-bottom: 60px;
    margin-top: 15px;
    margin-left: 125px;
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.9px;
}

.container_black li:last-child .services__box2_1__p {
    margin-bottom: 0px;
}

.ful_jpg {
    height: 717px;
    background-image: url("../расходники/fuljpg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.ful_jpg_txt{
    width: 551px;
    padding-left: 125px;
    padding-top: 575px;
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.9px;

}
.ful_jpg_width_1400px {
    margin: 0 auto;
    width: 1400px;
    height: 717px
}


.after_fullscreen_photo_width_1400px {
    height: 553px;
    width: 1400px;
    margin: 0 auto;
    background-color:  white;
}

.contact_txt {
    margin-bottom: 32px;
    padding-top: 150px;
    padding-left: 125px;
    color: #121212;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.54px;
    text-transform: uppercase;
}

.contact_txt:before {
    margin-left: -5px;
    content: '';
    display: block;
    padding-bottom: 12px;
    background-repeat: no-repeat;
    background-image: url("../расходники/phone_contact.png");
    width: 24px;
    height: 24px;
}




.phone_number{   
    margin-left: 125px;
    color:  #121212;
    text-decoration: none; 
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px; 
    letter-spacing: -1.8px;
}
.phone_number:hover {
    text-decoration: underline;
    opacity: 0.5;
    color: var(--text, #121212);
}

.mail {

    margin-left: 125px;
    color: var(--text, #121212);
    font-size: 60px;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    line-height: 60px; 
    letter-spacing: -1.8px;
}

.mail_30px{
    padding-top: 30px;
}

.mail:hover {
    text-decoration: underline;
    opacity: 0.5;
    color: var(--text, #121212);
}

.footer {
    width: 100%;
    height: 229px;
    background-color: #121212;
}

.footer_width_1400px {
    margin: 0 auto;
    width: 1400px;
    height: 229px;
    color: #FFF;
}


.footer_about_us_1:first-child {
    margin-left: 470px;
}


.footer_about_us {
    padding-top: 60px;
    margin: 0 auto;
}


.footer_about_us_1 {
    margin-right: 54px;
    display: inline-block;
    color: #FFF;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.54px;
    text-transform: uppercase;
}

.footer_about_us_1_1 {
    text-decoration: none;
    color: #FFFFFF;
}


.footer_about_us_1_1:hover {
    color: #FFF;
    opacity: 0.5;
    text-transform: uppercase;
}

.interior_design_studio {
    padding-top: 87px;
    text-align: center;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.6px;
    opacity: 0.5;
}
