html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Manrope', sans-serif;
    background-color: #F5F5F5;
    width: 100%;
}

.main_container{
    margin: 0 auto;
    width: 1400px;
    background-color: white;

}



.navigation {
    padding-top: 33px;
}

.logo_link {
    display: inline-block;
    margin-left: 125px;
}

.navigation_container_txt {
    display: inline-block;
    padding-left:558.46px;
}

.nav_link_txt {
    text-decoration: none; 
    margin-left: 60px;

    color: #121212;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.54px;
    text-transform: uppercase;

}

.nav_link_txt:first-child {
    margin-left: 0px;
}

.nav_link_txt:hover {
    text-decoration: underline;
    color: rgb(159, 172, 203);
    opacity: 0.5;
}






h1 {
    color: #121212;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    padding-top: 128px;
    margin-bottom: 30px;
    letter-spacing: -1.8px;
    margin-right: 319px;
    margin-left: 125px;
}
.hat_textp {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    

}
h2 {
    color: #121212;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 150px;
    letter-spacing: -0.54px;
    text-transform: uppercase;
    margin-left: 125px;
}
.studio_founded {
    color: var(--text, #121212);
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 224px;
    letter-spacing: -1.35px;
    padding-left: 125px;
}

.hat_photo{
    position: relative;
    margin-left: 125px;
    width: 1150px;
    height: 500px;
    background-image: url(../расходники/наивысшеефото\ 1.png);
}
.hat_text{
    position: absolute;
    left: 40px;
    bottom: 40px;
    width: 430px;
    letter-spacing: -0.6px;
}

.hr {
    margin-left: 125px;
    display: block;
    height: 67px;
    width: 255px;
    border-radius: 5px;
    background-color: #AD1818;
    text-decoration: none;
    text-align: center;
    line-height: normal;
}

.hrtxt {
    color: white;
    text-decoration: none;
    letter-spacing: -0.6px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}

.proj-box1_1 {
    margin-left: 125px;
    margin-top: 30px;
 }

.proj-box1_1-img {
    width: 1150px;
    height: 450px;
}

.proj-box1_1-h3 {
    margin-top: 15px;
    padding-bottom: 15px;
    color: #121212;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.9px;
}
.proj-box1_1-href {
    color: var(--accent, #AD1818);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.6px;
    text-decoration: none;
 }

 .proj-box1_2 {
    margin-left: 125px;
    margin-top: 90px;
 }

 .proj-box1_3 {
    margin-left: 125px;
    margin-top: 90px;
 }

 .all_projects {

    margin-left: 125px;
    margin-top: 90px;
    display: block;
    width: 1150px;
    height: 153px;
    text-align: center;
    padding-top: 56px;
    padding-bottom: 56px;
    border-radius: 5px;
    border: 1px solid var(--accent, #AD1818);
    cursor: pointer;
    pointer-events: auto;
}

.all_projects_txt {
    color: var(--accent, #AD1818);
    text-align: center;
    text-decoration: none;
    font-family: Manrope;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.9px;
 }

 .all_projects:hover {
    background-color: #AD1818;
}

.all_projects_txt:hover .all_projects_txt {
    color: white;
}

.blacksection_services{
    width: 100%;
    height: 1844px;
    background-color: #121212;
    
    

}
  
.blacksection_services__txt {
    margin-bottom: 34px;
    padding-top: 151px;
    color: #FFF;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.54px;
    text-transform: uppercase;
}

.services__box2_1__img {
    width: 1150px;
    height: 270px;
    margin-left: 125px;
}

.services__box2_1__p {
    margin-bottom: 60px;
    margin-top: 15px;
    margin-left: 125px;
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.9px;
}

.container_black li:last-child .services__box2_1__p {
    margin-bottom: 0px;
}

